		.tableNum_1 {
			position: absolute;
			top: 750px;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		.tableNum_2 {
			position: absolute;
			top: 160px;
			left: 180px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_3 {
			position: absolute;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		.tableNum_4 {
			position: absolute;
			top: 160px;
			left: 1550px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_1_input {
			position: absolute;
			top: 650px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}
		.tableNum_2_input {
			position: absolute;
			top: 260px;
			left: 350px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.tableNum_3_input {
			position: absolute;
			top: 160px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}
		.tableNum_4_input {
			position: absolute;
			top: 260px;
			left: 1450px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.tableNum_1_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			float: left;
		}
		.tableNum_2_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top: -25px;
		}
		.tableNum_3_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-top: 20px;
			float: left;
		}
		.tableNum_4_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top: -25px;
		}
		.tableNum_1_img {
			width: 70px;
			height: 70px;
		}
		.tableNum_2_img {
			width: 70px;
			height: 70px;
			transform: rotate(90deg);
		}
		.tableNum_3_img {
			width: 70px;
			height: 70px;
			transform: rotate(180deg);
		}
		.tableNum_4_img {
			width: 70px;
			height: 70px;
			transform: rotate(-90deg);
		}
		.tableNum_1_demo{
			position: absolute;
			top: 750px;
			left: 1550px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_2_demo{
			position: absolute;
			top: 750px;
			left: 180px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_3_demo{
			position: absolute;
			left: 180px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_4_demo{
			position: absolute;
			left: 1550px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.majdemo_tableNum_1_peng {
			width: 170px;
			height: 170px;
			position: absolute;
			top: -20px;
			left: 150px;
		}
		.majdemo_tableNum_2_peng {
			width: 170px;
			height: 170px;
			position: absolute;
			top: -20px;
			left: -50px;
			transform: rotate(90deg);
		}
		.majdemo_tableNum_3_peng {
			width: 170px;
			height: 170px;
			position: absolute;
			top: -20px;
			left: 150px;
			transform: rotate(180deg);
		}
		.majdemo_tableNum_4_peng {
			width: 170px;
			height: 170px;
			position: absolute;
			top: -20px;
			left: -20px;
			transform: rotate(-90deg);
		}