		.tableNum_1 {
			list-style:none;
			position: absolute;
			top: 750px;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		.tableNum_2 {
			list-style:none;
			position: absolute;
			top: 160px;
			left: 1550px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_3 {
			list-style:none;
			position: absolute;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		.tableNum_4 {
			list-style:none;
			position: absolute;
			top: 160px;
			left: 180px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_1_input {
			list-style:none;
			position: absolute;
			top: 650px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}
		.tableNum_2_input {
			list-style:none;
			position: absolute;
			top: 260px;
			left: 1450px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.tableNum_3_input {
			list-style:none;
			position: absolute;
			top: 160px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}
		.tableNum_4_input {
			list-style:none;
			position: absolute;
			top: 260px;
			left: 350px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.tableNum_1_majiang {
			list-style:none;
			width: 70px;
			height: 70px;
			border: solid 1px;
			float: left;
		}
		.tableNum_2_majiang {
			list-style:none;
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top: -25px;
		}
		.tableNum_3_majiang {
			list-style:none;
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-top: 20px;
			float: left;
		}
		.tableNum_4_majiang {
			list-style:none;
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top: -25px;
		}
		.tableNum_1_img {
			width: 70px;
			height: 70px;
		}
		.tableNum_2_img {
			width: 70px;
			height: 70px;
			transform: rotate(-90deg);
		}
		.tableNum_3_img {
			width: 70px;
			height: 70px;
			transform: rotate(180deg);
		}
		.tableNum_4_img {
			width: 70px;
			height: 70px;
			transform: rotate(90deg);
		}
		.tableNum_1_demo {
			list-style:none;
			position: absolute;
			top: 750px;
			left: 1550px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_2_demo {
			list-style:none;
			position: absolute;
			left: 1550px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_3_demo {
			list-style:none;
			position: absolute;
			left: 180px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}
		.tableNum_4_demo {
			list-style:none;
			position: absolute;
			top: 750px;
			left: 180px;
			height: 150px;
			width: 170px;
			border: solid 1px darkorange;
		}


	
		.majdemo_chi_area{
			position: absolute;
			list-style:none;
			top: 650px;
			left: 750px;
			height: 100px;
			width: 500px;
			border: solid 1px crimson;
			
		}
		.tableNum_1_majiang_work{
			list-style:none;
			width: 600px;
			height: 150px;
			border: solid 1px;
			float: left;
			position: absolute;
			top: 600px;
			left: 1000px;
			z-index: 100;
			
		}
		.tableNum_1_majiang_work_chi{
			float: left;
			display: none;
		}
		.tableNum_1_majiang_work_peng{
			float: left;
			margin-left: -50px;
			display: none;
		}
		.tableNum_1_majiang_work_gang{
			float: left;
				margin-left: -50px;
				display: none;
		}
		.tableNum_1_majiang_work_hu{
			float: left;
				margin-left: -50px;
				display: none;
		}
		.tableNum_1_work_img{
			height:170px;
			width: 170px;
			
		}
