		.tableNum_1 {
			position: absolute;
			top: 750px;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		.tableNum_2 {
			position: absolute;
			top: 160px;
			left: 180px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_3 {
			position: absolute;
			left: 350px;
			height: 150px;
			width: 1200px;
			border: solid 1px crimson;
		}
		
		.tableNum_4 {
			position: absolute;
			top: 160px;
			left: 1550px;
			height: 590px;
			width: 170px;
			border: solid 1px crimson;
		}
		.tableNum_1_input {
			position: absolute;
			top: 650px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}.tableNum_2_input {
			position: absolute;
			top: 260px;
			left: 350px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.tableNum_3_input {
			position: absolute;
			top: 160px;
			left: 450px;
			height: 100px;
			width: 1000px;
			border: solid 1px crimson;
		}
		
		.tableNum_4_input {
			position: absolute;
			top: 260px;
			left: 1450px;
			height: 390px;
			width: 100px;
			border: solid 1px crimson;
		}
		.right_demo{
		position: absolute;
			top: 260px;
			left: 1290px;
			height: 390px;
			width: 170px;
			border: solid 1px crimson;
		}
		.bottom_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
		float:left;
		}
		.bottom_img {
			width: 70px;
			height: 70px;
		}
		.left_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top:-25px;
		}
		.left_img {
			width: 70px;
			height: 70px;
			transform: rotate(90deg);
		}
		.top_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-top: 20px;
			float: left;
		}
		.top_img {
			width: 70px;
			height: 70px;
			transform: rotate(180deg);
		}
		.right_majiang {
			width: 70px;
			height: 70px;
			border: solid 1px;
			margin-left: 20px;
			margin-top:-25px;
		}
		.right_img {
			width: 70px;
			height: 70px;
			transform: rotate(-90deg);
		}
		.majiang_demo_right_peng{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:-20px;
			transform: rotate(-90deg);
		}
		.majiang_demo_right_gang{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-50px;
			left:-50px;
			transform: rotate(-90deg);
		}
			.majiang_demo_left_peng{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:-50px;
			transform: rotate(90deg);
		}
			.majiang_demo_left_gang{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-50px;
			left:-50px;
			transform: rotate(90deg);
		}
			.majiang_demo_top_peng{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:150px;
			transform: rotate(180deg);
		}
			.majiang_demo_top_gang{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:120px;
			transform: rotate(180deg);
		}
		.majiang_demo_bottom_peng{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:150px;
		}
		.majiang_demo_bottom_gang{
			width: 170px;
			height: 170px;
			position: absolute;
			top:-20px;
			left:180px;
		}
		